.body{
    font-family: 'Finlandica', sans-serif;
}
.orange-color{
    color: orangered;
}
.middle{
    text-align: center;
}
.middle2{
    text-align: center;
}
.middle3{
    padding-left: 10%;
    width: 80%;
}