.body{
    font-family: 'Finlandica', sans-serif;
}
.orange-color{
    color: black;
}
.middle{
    text-align: center;
}
.middle2{
    text-align: center;
}
.button{
    border: 5%;
    font-size: 20px;
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: white;
}
.center{
    text-align: center;
    width: 95%;
}
.chobi{
    width: 100%;
}
.paragraph{
    text-align: center;
    width: 100%;
}
.align{
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-right: 10%;
}
#box1{
    height: 200px;
    width: 200px;
    background: blueviolet;    
}
#box2{
    height: 200px;
    width: 200px;
    background: aqua;
}
#box3{
    height: 200px;
    width: 200px;
    background: rosybrown;
}
.flex{
    display:flex;
    padding-left: 25%;
}
.box-1{
    text-align: center;
    padding-top: 5%;
}
.box-2{
    text-align:center;
    padding-top: 5%;
}
.box-3{
    text-align: center;
    padding-top: 5%;
}
.icon{
    width: 5%;
}