.body{
    font-family: 'Finlandica', sans-serif;
}
.orange-color{
    color: black;
}
.middle{
    text-align: center;
}
.middle2{
    text-align: center;
}
.button{
    border: 5%;
    font-size: 20px;
    text-align: center;
    background-color: limegreen;
    text-decoration: none;
    color: white;
}
.center{
    text-align: center;
    width: 95%;
}
.chobi{
    width: 100%;
}
.paragraph{
    text-align: center;
    width: 100%;
}
.align{
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-right: 10%;
}
#box1{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 17px;
    margin-bottom: 5px;
    height: 200px;
    width: 200px;
    background: blueviolet;    
}
#box2{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 17px;
    margin-bottom: 5px;
    height: 200px;
    width: 200px;
    background: aqua;
}
#box3{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 17px;
    margin-bottom: 5px;
    height: 200px;
    width: 200px;
    background: rosybrown;
}
.flex{
    display:flex;
    padding-left: 25%;
}
.box-1{
    text-align: center;
    padding-top: 5%;
}
.box-2{
    text-align:center;
    padding-top: 5%;
}
.box-3{
    text-align: center;
    padding-top: 5%;
}
.icon{
    width: 5%;
}
#sbox{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 25px;
    width: 50px;
    background-color: silver;
}
#sbox2{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 25px;
    width: 50px;
    background-color: silver;
}
#sbox3{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 25px;
    width: 50px;
    background-color: silver;
}
.flex1{
    display: flex;
    padding-left: 41%;
}
.sbox{
    text-align: center;
    padding-top: 1%;
}
.sbox1{
    text-align: center;
    padding-top: 1%;
}
.sbox2{
    text-align: center;
    padding-top: 1%;
    border-style: solid;
    border-color: red;
}
.sbox3{
    text-align: center;
    padding-top: 1%;
}
.h2{
    padding-left: 31%;
}
.confirm{
    text-decoration: none;
    color: white;
    background-color: limegreen;
    font-size: 20px;
    text-align: center;
}
.confirm1{
    padding-left: 46%;
}
.button2{
    text-decoration: none;
    background-color: orangered;
    color: aliceblue;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.donation-picture{ 
    width: 40%;
    padding-left: 45%;
    padding-bottom: 1%;
}
#email{
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 5%;
    height: 20px;
    width: 20px;
    background-color: silver;
}
.email{ 
    padding-left: 1%;
    margin-right: 10%;
    padding-bottom: 20%;
}
.submit{
    padding-left: 45%;
    margin-left: 300%;
    padding-bottom: 10%;
    margin-bottom: 2%;
}
.heading{
    text-align: center;
}
.emailsub{
    margin-left: 40%;
}
.footer1{
    text-align: center;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer2{
    text-align: center;
    color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer3{
    margin-top: 10%;
    background-color: blueviolet;
}